{% load bootstrap3 %}
{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block styles %} {% bootstrap_css %}
        <link rel="stylesheet" href="{% static '/css/edit_profile.css' %}" /> 
    {% endblock %}
    <title>Document</title>
</head>
<body>

    <div class="container">
        <a href="{% url 'main' %}" class="btn btn-dark">Home Page</a>
    </div>
    
    <div class="wrapper" style="background-image: url('tech.jpg');">
        <div class="inner">
        <div class="image-holder">
        <img src="{% static '/images/pexels-francesco-ungaro-2289407.jpg' %}" alt="image">
        </div>

        <form action="/profile/{{profile.id}}" method="post" enctype="multipart/form-data" >
            <h3>Edit Profile</h3>
            {%csrf_token%}
            {% bootstrap_form form %}
            <div class="form-group">
                <input type="submit" class="btn btn-dark btn-sm" value="Update Profile">
            </div>           
        </form>

        </div>
        </div>

</body>
</html>