{% load bootstrap3 %}
{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block styles %} {% bootstrap_css %}
        <link rel="stylesheet" href="{% static '/css/edit_profile.css' %}" /> 
    {% endblock %}
    <title>Document</title>
</head>
<body>
    <div class="wrapper" style="background-image: url('tech.jpg');">
        <div class="inner">
        <div class="image-holder">
        <img src="{% static '/images/pexels-francesco-ungaro-2289407.jpg' %}" alt="image">
        </div>
        <form action="">
        <h3>Edit Profile</h3>
        <div class="form-group">
        <input type="text" placeholder="First Name" class="form-control">
        <input type="text" placeholder="Last Name" class="form-control">
        </div>
        
        <div class="form-wrapper">
        <input type="text" placeholder="Username" class="form-control">
        </div>

        <div class="form-wrapper">
        <input type="text" placeholder="Email Address " class="form-control">
        </div>

        <div class="form-wrapper">
            <input type="text" placeholder="Bio - Tell us About Yourself" class="form-control"> 
        </div>
        <div class="form-wrapper">
            <input type="number" placeholder="Contact Information" class="form-control" minlength="10"> 
        </div>

        <div class="form-wrapper m-3">
            <label>Upload Profile Pic</label>
            <input required name="images" type="file" multiple class="form-control-file">
        </div>
       <br>
       <div>
        <button type='submit' class="btn btn-dark m-3">Submit</button>
       </div>
        
        </form>
        </div>
        </div>

</body>
</html>